<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="icon" type="image/png" href="images/dfavicon.png">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RAM_APP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RAM_APP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebars.css" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/_IndexLayout.cshtml.css" rel="stylesheet">

    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/quill/quill.snow.css" rel="stylesheet">
    <link href="~/lib/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" style="background-color:rgba(0,0,0,0.1)" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a asp-action="Index" class="logo d-flex align-items-center">
        <img src="logo.png" alt="">
        <span class="d-none d-lg-block text-primary">Rent A Movie</span>
      </a>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li>
    
        <partial name="_LoginPartial" />

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
     <script src="~/lib/quill/quill.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
