@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<li class="nav-item dropdown pe-3">
@if (SignInManager.IsSignedIn(User))
{

          <a class="nav-link nav-profile d-flex align-items-center pe-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" data-bs-toggle="dropdown">
            <i class="bi bi-person"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity?.Name </span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6><i class="bi bi-person"></i></h6>
              <span>RAM_APP Admin</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" asp-action="Main" asp-controller="Home">
                <i class="bi bi-book"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/Identity/Account/Manage">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
                <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <p class="dropdown-item d-flex align-items-center" >
                        <i class="bi bi-box-arrow-right"></i>
                        <button  class="dropdown-item d-flex align-items-left" type="submit"><span>Sign Out</span></button>
                    </p>
                </form>
              
            </li>

          </ul><!-- End Profile Dropdown Items -->

}
else
{

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="/Identity/Account/Login" >
    
            <i class="bi bi-person"></i>
            <span class="d-none d-md-block">Admin Login</span>
            
          </a><!-- End Profile Iamge Icon -->
    
}
</li><!-- End Profile Nav -->