@{
    Layout = null;
    ViewData["Title"] = "Rent A Movie Store - Home Page";
}

<!DOCTYPE html>
<html>
<head>
  <title>Movie App</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/index.css">



  <style>
  
  </style>
</head>
<body>

<!--video--->
<video class="background-video" autoplay loop muted>
    <source src="~/images/background.mp4" type="video/mp4">
    <!-- Add additional source elements for other video formats if needed -->
</video>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ml-3" href="#">Rent A Movie App</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Identity/Account/Login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="text-light"> Latest movies</h2>
    <div class="row">
        <div class="col-md-4 custom-padding">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-light">John Wick - 2033</h5>
                    <img src="~/images/John wick.jpeg" class="card-image">
                    <p class="card-text text-light">The latest action-packed chapter of John Wick's journey as an assassin in the year 2023.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 custom-padding">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-light">Deadpool - 2016</h5>
                    <img src="~/images/Deadpool.jpeg" class="card-image">
                    <p class="card-text text-light">A comedic and irreverent superhero film featuring the anti-hero Deadpool on a quest for revenge.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 custom-padding">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-light">Avatar</h5>
                    <img src="~/images/avater.jpeg" class="card-image">
                    <p class="card-text text-light">The sequel to "Avatar" set in 2023, continuing the conflict on the alien moon Pandora.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/main.js"></script>
<script src="~/lib/quill/quill.min.js"></script>

</body>
</html>
