@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Rent A Movie Store - Home Page";
}


  <link rel="stylesheet" href="~/css/index.css">






<!--video--->
<video class="background-video" autoplay loop muted>
    <source src="~/images/background.mp4" type="video/mp4">
    <!-- Add additional source elements for other video formats if needed -->
</video>



<div class="container mt-5">
    <h2 class="text-light"> Latest movies</h2>
    <div class="row">
        <div class="col-md-4 custom-padding">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-light">John Wick - 2033</h5>
                    <img src="~/images/John wick.jpeg" class="card-image">
                    <p class="card-text text-light">The latest action-packed chapter of John Wick's journey as an assassin in the year 2023.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 custom-padding">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-light">Deadpool - 2016</h5>
                    <img src="~/images/Deadpool.jpeg" class="card-image">
                    <p class="card-text text-light">A comedic and irreverent superhero film featuring the anti-hero Deadpool on a quest for revenge.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 custom-padding">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-light">Avatar</h5>
                    <img src="~/images/avater.jpeg" class="card-image">
                    <p class="card-text text-light">The sequel to "Avatar" set in 2023, continuing the conflict on the alien moon Pandora.</p>
                </div>
            </div>
        </div>
    </div>
</div>

