@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<main id="main" class="main">

<div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h2 class="card-title">Privacy Policy for Rent A Movie <span>| Effective Date: 19/06/2023</span></h2>
<br/>
<p>
At Rent A Movie, we value and respect your privacy. This Privacy Policy outlines the information we collect from users of our website, how we use and protect that information, and the choices you have regarding your personal data. By using our website, you consent to the terms described in this Privacy Policy.

<h3>1. Information We Collect:</h3>

<h5>1.1 Personal Information:</h5>
We may collect personal information that you voluntarily provide to us, such as your name, email address, phone number, billing information, and other relevant details necessary for providing our services. We collect this information when you create an account, place an order, or communicate with us through our website.

<h5>1.2 Usage Information:</h5>
We may collect non-personal information about your use of our website, such as your IP address, browser type, operating system, device information, and browsing activities. This information is collected automatically through cookies and similar technologies. It helps us analyze trends, administer the website, and improve user experience.

<h3>2. Use of Information:</h3>

<h5>2.1 Providing Services:</h5>
We use the information we collect to process and fulfill your orders, manage your account, and provide customer support. This includes communicating with you regarding your transactions, sending order confirmations, and responding to your inquiries.

<h5>2.2 Personalization and Improvement:</h5>
We may use your information to personalize your experience on our website and recommend movies or services that may interest you. We also analyze usage patterns and website performance to enhance and optimize our services.

<h5>2.3 Marketing Communication:</h5>
With your consent, we may send you promotional emails, newsletters, or other marketing materials about our products, services, or special offers. You have the option to opt-out of receiving such communications at any time.

<h5>2.4 Legal Compliance and Protection:</h5>
We may use and disclose your information as required by law, regulation, or legal process. We may also disclose your information to protect the rights, property, or safety of Rent A Movie, our users, or others, and to enforce our terms and policies.

<h3>3. Information Sharing:</h3>

<h5>3.1 Service Providers:</h5>
We may share your personal information with trusted third-party service providers who assist us in operating our website, processing payments, and delivering services. These providers have access to your information solely for performing their designated functions and are obligated to maintain its confidentiality.

<h5>3.2 Business Transfers:</h5>
In the event of a merger, acquisition, or sale of all or a portion of our business, your information may be transferred to the acquiring entity as part of the transaction. We will notify you via email or prominent notice on our website of any such change in ownership or control of your personal data.

<h5>3.3 Aggregated or Anonymized Information:</h5>
We may aggregate and anonymize non-personal information for statistical analysis, market research, or other business purposes. This information does not identify individual users and may be shared with third parties.

<h3>4. Data Security:</h3>

We implement reasonable security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. However, no data transmission over the internet or storage system is entirely secure. Therefore, we cannot guarantee the absolute security of your information.

<h3>5. Third-Party Websites:</h3>

Our website may contain links to third-party websites or services. This Privacy Policy does not apply to those third-party websites, and we are not responsible for their privacy practices. We encourage you to review the privacy policies of those websites before providing any personal information.

<h3>6. Children's Privacy:</h3>

Rent A Movie does not knowingly collect personal information from individuals under the age of 18. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will promptly remove that information from our records.

<h3>7. Your Choices:</h3>

<h5>7.1

 Updating Information:</h5>
You may access, review, update, or correct your personal information by logging into your account or contacting us directly.

<h5>7.2 Opting Out:</h5>
You have the option to unsubscribe from marketing communications at any time by following the instructions provided in the emails or by contacting us directly.

<h5>7.3 Cookies:</h5>
Most web browsers allow you to control cookies through their settings. You can choose to accept or decline cookies. However, please note that disabling cookies may affect certain features and functionality of our website.

<h3>8. Changes to this Privacy Policy:</h3>

We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. The updated version will be posted on our website with a revised effective date. We encourage you to review this Privacy Policy periodically.

<h3>9. Contact Us:</h3>

If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact us at our offices in all locations near you.

Thank you for trusting Rent A Movie with your personal information.</p>

</main>