@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Register as system admin";
}

<main id="main" class="main">
<div class="login-card">
        <h2>Register</h2>

        <form>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="phonenumber">Phone Number:</label>
      <input type="tel" id="phonenumber" name="phonenumber" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <input type="submit" value="Register">
    </div>
  </form>


</div>
</main>