/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-aqj4p0r9zd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-aqj4p0r9zd] {
  color: #0077cc;
}

.btn-primary[b-aqj4p0r9zd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-aqj4p0r9zd], .nav-pills .show > .nav-link[b-aqj4p0r9zd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-aqj4p0r9zd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-aqj4p0r9zd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-aqj4p0r9zd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-aqj4p0r9zd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-aqj4p0r9zd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}




  .bd-placeholder-img[b-aqj4p0r9zd] {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg[b-aqj4p0r9zd] {
      font-size: 3.5rem;
    }
  }

  .b-example-divider[b-aqj4p0r9zd] {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr[b-aqj4p0r9zd] {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi[b-aqj4p0r9zd] {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller[b-aqj4p0r9zd] {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav[b-aqj4p0r9zd] {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary[b-aqj4p0r9zd] {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle[b-aqj4p0r9zd] {
    z-index: 1500;
  }
  .table[b-aqj4p0r9zd]{
   
    font-size: 0.3vh;
    table-layout: fixed;
    
  }
