@model RAM_APP.Models.Genre

@{
    ViewData["Title"] = "Edit";
}

<main id="main" class="main">
<!-- Card with an image on left -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body">
                    

                    
<h4>Genre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Gid" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


                  </div>
    

              </div>
              <a type="button" class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
          </div><!-- End Card with an image on left -->
</main><!-- End #main -->





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
